
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# IDE
/.idea/
/.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# OS
*.log

# Node (si Tailwind)
/node_modules/

# Composer
composer.phar
